body {
    background-color: beige;
}

header {
    text-align: center;
}

#screen-size {
    background-color: gray;
    height: 400px;
    width: 400px;
    margin-left: 475px;
    text-align :center;
}
